{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es-MX">
	<head>
		<meta charset="utf-8">
		<title>classifier</title>
		<meta name="description" content="let me guess your car">
		<meta name="author" content="Erick the Zetinator">
		<!-- mobile specific metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- CSS -->
		<script src="https://kit.fontawesome.com/33b8bcd37e.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-light_blue.min.css" />
		<link rel="stylesheet" type="text/css" href="{% static '/classifier/css/main.css' %}">
		<!-- script -->
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<script src="{% static '/classifier/js/main.js' %}"></script>
		<!-- favicon -->
		<link rel="shortcut icon" href="{% static '/classifier/imgs/zetinator_logo.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static '/classifier/imgs/zetinator_logo.ico' %}" type="image/x-icon">

    </head>

    <body id="top">
		<!-- Uses a transparent header that draws on top of the layout's background -->
		<div class="demo-layout-transparent mdl-layout mdl-js-layout">
			<header class="mdl-layout__header mdl-layout__header--transparent">
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<span class="mdl-layout-title">By the Zetinator</span>
					<!-- Add spacer, to align navigation to the right -->
					<div class="mdl-layout-spacer"></div>
					<!-- Navigation -->
					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href="https://zetinator.github.io/" target="_blank">Who is erick the zetinator?</a>
					</nav>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">By the Zetinator</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="https://zetinator.github.io/" target="_blank">Who is erick the zetinator?</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
				{% block content %}
				{% endblock%}
			</main>
		</div>

	</body>
