{% extends 'classifier/base.html' %}
{% block content %}
<div class="container-fluid p-0">
	<section class="resume-section d-flex align-items-center" id="about">
		<div class="w-auto">
			<h1 class="mb-0">Let me guess...
			</h1>
			<div id="upload">
				<form method="post" enctype="multipart/form-data" action="/classifier/predict">
					<input type="file" name="file" accept="image/*">
					<button type="submit">predict</button>
			<a id="get_resume" class="btn btn--stroke" href="https://zetinator.github.io/resume_english.pdf" target="_blank">
				resume <i class="far fa-file-pdf"></i>
			</a>
				</form>
			</div>
			<p class="lead mb-5">(upload a photo of a car and I'll try to guess it's name)</p>

			<div class="social-icons">
				<a href="https://www.linkedin.com/in/erick-zetina-b922a2173/" target="_blank">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a href="https://github.com/Zetinator" target="_blank">
					<i class="fab fa-github"></i>
				</a>
				<a href="https://www.facebook.com/zetinator" target="_blank">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="https://wa.me/491631932340" target="_blank">
					<i class="fab fa-whatsapp"></i>
				</a>
			</div>



		</div>

	</section>
</div>
{% endblock%}
